<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Taner Sezer" >
    <script src="//code.jquery.com/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
            <style>
body { padding-top: 100px; }  
p .note {text-align:center;}
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="/"><img src="static/tdd_logo.png" height="50%" width="50%"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">

                       <li class="nav-item">
                    <a class="nav-link" <a href={{ url_for('freq') }}>Frequency</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" <a href={{ url_for('freq_ci') }}>Frequency_CI</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" <a href={{ url_for('deasci') }}>Deascifiier</a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" <a href={{ url_for('list_control') }}>List Check</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" <a href={{ url_for('about') }}>About</a>
                </li>

            </ul>

        </div>
    </nav>
<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="mt-5"><b>About TDD Text Tools</b></h3>
        </div>
      </div>
    </div>
    

<div class="container">
<div id="accordion">

<!-- Turkish Deasciifier -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#theModels" aria-expanded="true" aria-controls="theModels">
          Turkish Deasciifier
        </button>
      </h5>
    </div>


    <div id="theModels" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
This tool deascifies given texts.<br/>
The tool uses <a href="https://github.com/emres/turkish-deasciifier">turkish-deasciifier</a> by Emre Sevinç.
      </div>
    </div>
  </div>
<!-- -- -->  
 
<!-- Turkish Frequency Case Sensitive -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#circle_Coverage" aria-expanded="false" aria-controls="circle_Coverage">
          Turkish Frequency Case Sensitive
        </button>
      </h5>
    </div>
        <div id="circle_Coverage" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
This tools calculates the frequency for tpe tokens in given text. The frequency is calculated case sensitively which means
          "git" and "GİT" considered as two different tokens.
      </div>
    </div>
  </div>
  
<!-- -- -->  
  
  <!-- Turkish Frequency Case Insensitive -->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#physics" aria-expanded="false" aria-controls="physics">
        Turkish Frequency Case Insensitive
        </button>
      </h5>
    </div>
    <div id="physics" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
         This tools calculates the frequency for tpe tokens in given text. The frequency is calculated case insensitively which means
          "git" and "GİT" considered as one and same token.
      </div>
    </div>
  </div>
<!-- -- -->

  
</div>       
        
        </div>
      </div>
</div>


</body>

</html>
