{% extends "base.html" %}
{% block content %}



<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="mt-5"><b>About TDD Text Tools</b></h3>
        </div>
      </div>
    </div>


<div class="container">


<div id="accordion">

<!-- Turkish Deasciifier -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#Deasciifier" aria-expanded="true" aria-controls="Deasciifier">
          Turkish Deasciifier
        </button>
      </h5>
    </div>


    <div id="Deasciifier" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
This tool deascifies given texts.<br/>
The tool uses <a href="https://github.com/emres/turkish-deasciifier">turkish-deasciifier</a> by Emre Sevinç.
      </div>
    </div>
  </div>
<!-- -- -->

<!-- Turkish Frequency -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Frequency" aria-expanded="false" aria-controls="Frequency">
          Frequency Calculator
        </button>
      </h5>
    </div>
        <div id="Frequency" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
This tool calculates the frequency of tokens in given text.
          The frequency could be calculated both as case sensitive and case insensitive.
      </div>
    </div>
  </div>

<!-- -- -->

 <!-- nGram -->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#ngram" aria-expanded="false" aria-controls="ngram">
        Ngram Tool
        </button>
      </h5>
    </div>
    <div id="ngram" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
         This tools generates ngrams from the given text file within specified ngram span.
      </div>
    </div>
  </div>
<!-- -- -->

<!-- Word Cloud -->
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#word_cloud" aria-expanded="false" aria-controls="word_cloud">
        Word Cloud
        </button>
      </h5>
    </div>
    <div id="word_cloud" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
         This tools generates word cloud from the given text file with specified options.
      </div>
    </div>
  </div>
<!-- -- -->

  </main>

{% endblock %}