{% extends "base.html" %}
{% block content %}

<!-- Main jumbotron for title only -->
<div class="jumbotron" style="padding-bottom: 0">
<div class="col-lg-12 text-center">
<h3 class="mt-5"><b>Turkish Deascifiier</b></h3>
</div>
</div>

<!-- Main container for data input -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-header bg-warning">
          <h5 class="card-title font-weight-bold">Input Text</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
              {{in_text}}
          </p>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-header bg-success">
          <h5 class="card-title font-weight-bold">Deascifiied Output</h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{deasciified_turkish_txt}}</p>
        </div>
      </div>
    </div>
  </div>

        <div class="col-md-12">
      <div class="card mb-3">
        <div class="card-header bg-info">
          <h5 class="card-title font-weight-bold">Change Map</h5>
        </div>
        <div class="card-body">
          <p class="card-text">{{html | safe}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
<hr>
<!-- button -->
<div class="container">
    <a href="{{ url_for('deascii_input') }}" class="btn btn-info btn-block"> Deascifiier </a>

</div>

<hr>
{% endblock %}



