{% include 'navbar.html' %}

    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="mt-5"><b>Turkish Deasciifier</b></h3>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="form-group">
                <form action="/deascii" method="POST">

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <textarea class="form-control form-control-lg" name='word' id='word' rows="5"
                                      placeholder='Paste or type text'></textarea>
                        </div>
                    </div>
                    <hr>


                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" name="form" value="Submit" id='submit'
                                class="btn btn-success btn-lg btn-block">Process</button>
                        </div>
                    </div>
                    <hr>
                    
<div class="container">
    {{ error }} <br>
    <strong>Input:</strong>
                    <pre style="background:azure; padding:5px;">
       </br>{{ word }} <br>
                    </pre>
                    <hr>
                </form>
                <strong>Output:</strong>
                <pre style="background:lightgoldenrodyellow; padding:5px;">
    </br>{{ my_deasciified_turkish_txt }} <br>
                    </pre>
            </div>
        </div>

            <div class="row">
                <div class="col-lg-12 text-center">
tdd @ 2022
                    <hr>
                </div>
            </div>
        </div>


</body>

</html>
