
{% include 'navbar.html' %}

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="mt-5"><b>
Turkish Frequency Case Sensitive
</b></h3>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="form-group">
                <form action="/freq" method="POST">

                    <div class="form-group row">
                        <div class="col-sm-12">
                             <label for="word"><b>The Text:</b></label>
                            <textarea rows="4" cols="50" class="form-control form-control-lg" name='word' id='word'></textarea>

                        </div>

                    </div>
                    <hr>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" name="form" value="Submit" id='submit'
                                class="btn btn-success btn-lg btn-block">Process</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="container">
    {{ error }} <br>

<div class="form-group row">
                        <div class="col-sm-8">
<strong>Number of Tokens:</strong> {{ num_of_tokens }}<br>
<strong>Number of Unique Tokens:</strong> {{ num_unique_tokens }}<br>
<strong>Type/Token Ratio:</strong> {{ ttr }}
                            <br>
<b>0 <meter id="num_token" value="{{ num_unique_tokens }}" min="0" max="{{ num_of_tokens }}">{{ num_of_tokens }}</meter> 1</b><br>
<em>Higher values represent complex texts.</em>
                            <hr>
<div id = "container" style = "width: auto; height: 400px; margin: 0 auto">
      </div>

                            <script language = "JavaScript">
         function drawChart() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
               ['Word', 'Frequency'],
               {% for count, word in top_25 %}
                ['{{ word }}', {{ count }}] {{","}}
                   {% endfor %}
            ]);
            var options = {title: 'Frequency (Top 25 Words)'};
            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('container'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);
      </script>

<strong>Input Text:</strong><br>{{ word }}
</div>
<div class="col-sm-4">
<strong>Frequency List:</strong>
{% for count, word in freq_list %}
      <p>{{ count }} {{ word }} </p>
  {% endfor %}<br>
                        </div>

                    </div>

            <div class="row">
                    {{  freqed }}
                <hr>
                <div class="col-lg-12 text-center">
tdd @ 2022
                    <hr>
                </div>
            </div>
        </div>


</body>

</html>
