{% include 'navbar.html' %}

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="mt-5"><b>
Turkish Frequency Case Sensitive
</b></h3>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="form-group">
                <form action="/freq" method="POST">

                    <div class="form-group row">
                        <div class="col-sm-12">
                             <label for="word"><b>The Text:</b></label>
                            <textarea rows="4" cols="50" class="form-control form-control-lg" name='word' id='word'></textarea>

                        </div>
                    </div>
                    <hr>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" name="form" value="Submit" id='submit'
                                class="btn btn-success btn-lg btn-block">Process</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="container">
    {{ error }} <br>

<div class="form-group row">
                        <div class="col-sm-5">
<strong>Number of Tokens:</strong> {{ num_of_tokens }}<br>
<strong>Number of Unique Tokens:</strong> {{ num_unique_tokens }}<br>
<strong>Type/Token Ratio:</strong> {{ ttr }}<br>
<strong>Input Text:</strong><br>{{ word }}
                        </div>

                        <div class="col-sm-7">
<strong>Frequency List:</strong>
                            {% for count, word in freq_list %}
      <p>{{ count }} {{ word }} </p>
  {% endfor %}<br>
                        </div>

                    </div>

            <div class="row">
                <hr>
                <div class="col-lg-12 text-center">
tdd @ 2022
                    <hr>
                </div>
            </div>
        </div>


</body>

</html>
