{% extends "base.html" %}
    {% block content %}
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-12 text-center">
<h3 class="mt-5"><b>TDD Tools Web Service</b></h3>

                </div>
            </div>
<div class="card-deck">
<div class="card bg-light mb-3">
  <div class="card-header text-info stretched-link">Frequency</div>
  <div class="card-body">
    <h5 class="card-title"><b>Frequency Calculator</b></h5>
    <p class="card-text">
This tool calculates the frequency of tokens in given text.
</p>
      <a href="/freq_input" class="stretched-link"></a>
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-header text-info stretched-link">Deascifiier</div>
  <div class="card-body">
      <h5 class="card-title"><b>Turkish Deascifiier</b></h5>
    <p class="card-text">This tool deascifies given texts.
        The tool uses <a href="https://github.com/emres/turkish-deasciifier">turkish-deasciifier</a> by Emre Sevinç. </p>
 <a href="/deascii_input" class="stretched-link"></a>
  </div>
</div>
</div>


<div class="card-deck">
<div class="card bg-light mb-3">
  <div class="card-header text-info stretched-link">Word Cloud</div>
  <div class="card-body">
    <h5 class="card-title"><b>Word Cloud</b></h5>
    <p class="card-text">
This tools generates a word cloud using the given text.
</p>
      <a href="/word_cloud_input" class="stretched-link"></a>
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-header text-info stretched-link">Ngram</div>
  <div class="card-body">
    <h5 class="card-title"><b>Ngram Generator</b></h5>
    <p class="card-text">
This tools generates ngrams from the given text file within specified ngram span.
</p>
      <a href="/ngram_input" class="stretched-link"></a>
  </div>
</div>
</div>


            <div class="card-deck">
<div class="card bg-light mb-3">
  <div class="card-header text-info stretched-link">Phonetic Transcription</div>
  <div class="card-body">
    <h5 class="card-title"><b>Phonetic Transcription</b></h5>
    <p class="card-text">
This tools outputs the phonetic transcription of the given word.
The tool created by <a href="mailto:enissstuna@gmail.com">Enis Tuna</a></p>
</p>
      <a href="/phonetic_input" class="stretched-link"></a>
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-header text-info stretched-link">Rhyme Generator</div>
  <div class="card-body">
    <h5 class="card-title"><b>Rhyme Generator</b></h5>
    <p class="card-text">
This tools generates rhymes for given word.
</p>
      <a href="/rhyme_input" class="stretched-link"></a>
  </div>
</div>
</div>

</div>
 {% endblock %}
